body{
  font-family:Arial, Helvetica, sans-serif;
}

.background-tablet{
    margin:auto;
    height: 980px;
    width: 50%;
    background-color: #F7F7F7;
    border: 3px solid black;
    overflow: scroll;

  }


#home-icon{
  position: absolute;
  right: 0px;
  padding: 30px;
  width: 20px;
  cursor: pointer;
  height: 20px;
}

.choices{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.button-purple{
  background-color: #4D2457;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  font-size: 15px;
  border: 3px solid #4D2457;
  width: 30%;
  cursor: pointer;
  border-radius:25px;
}
.button-grey{
  background-color: WhiteSmoke;
  color: black;
  padding: 14px 20px;
  margin: 10px 0;
  font-size: 15px;
  border: 3px solid #4D2457;
  width: 30%;
  border-radius:25px;
}
.videos{
  padding: 2px 2px 2px 2px;
  width:50%;
}
.videos-horizontal{
  margin: auto;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;

}

.videos-all{
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: scroll;
  height:300px;


}
#name{
  font-size: 25px;
}
