body{
  font-family:Arial, Helvetica, sans-serif;
}

.background-tablet{
    margin:auto;
    height: 980px;
    width: 50%;
    background-color: #F7F7F7;
    border: 3px solid black;
    overflow: scroll;

  }

#home-icon{
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding: 30px;
  width: 20px;
  height: 20px;
}
#back_icon{
  background-color: inherit;
  margin-top: 17px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width:120px;
  float:left;
  font-size:32px;
  color: #C30239
}
#back_icon:hover{
  background-color: #e7e7e7
}
#app-title{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: auto;
  padding-top: 80px;
  font-size: 30px;
  font-weight: lighter;


}
#subtitle{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  font-style:italic;
  font-weight: lighter;


}
#graph_title{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
}
.categories-container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.categories-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.categories-checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
  border:1px solid black;
}

/* On mouse-over, add a grey background color */
.categories-container:hover input ~ .categories-checkmark {
  background-color: #ccc;
  border:3px solid black;
}

/* When the radio button is checked, add a blue background */
.categories-container input:checked ~ .categories-checkmark {
  background-color: PaleVioletRed;
}

.categories{
  margin-left: 150px;
  padding-top: 30px;

}

.placeholder-div{
  position: relative;
  padding-top: 10px;
  width: 100%;
  padding-left: 20px;
}

.placeholder-div #morepain-button1 {
  position: absolute;
  top: 2%;
  left: 10%;
  width:100px;
  height:50px;
  outline: none;
  border:none;
  background-color: Transparent;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.placeholder-div #morepain-button2 {
  position: absolute;
  top: 20%;
  left: 51%;
  width:100px;
  height:50px;
  outline: none;
  border:none;
  background-color: Transparent;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.placeholder-div #lesspain-button1 {
  position: absolute;
  top: 55%;
  left: 10%;
  width:80px;
  height:30px;
  outline: none;
  border:none;
  background-color: Transparent;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.placeholder-div #lesspain-button2 {
  position: absolute;
  top: 30%;
  left: 85%;
  width:100px;
  height:50px;
  outline: none;
  border:none;
  background-color: Transparent;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.placeholder-div .btn:hover {
  /*border-color: black;*/
}

.button-purple{
  background-color: #4D2457;
  color: white;
  padding: 5px;
  border: 3px solid #4D2457;
  width: 30%;
  cursor: pointer;
  margin-left: 25px;
  font-size: 18px;
  border-radius:25px;
  margin-bottom: 8px;
}
.button-grey{
  background-color: WhiteSmoke;
  color: black;
  padding: 5px;
  border: 3px solid #4D2457;
  width: 30%;
  margin-left: 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius:25px;
  margin-bottom: 8px;
}
.summary_buttons_horizontal{
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

.summmary_buttons_vertical{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  cursor: pointer;
  margin-left: 150px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: PaleVioletRed;
}

input:focus + .slider {
  box-shadow: 0 0 1px PaleVioletRed;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.toggle_original{
  padding-left: 35px;
}
