body{
  font-family:Arial, Helvetica, sans-serif;
}

.background-tablet{
    margin:auto;
    height: 980px;
    width: 50%;
    background-color: #F7F7F7;
    border: 3px solid black;
    overflow: scroll;
  }

#home-icon{
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding: 30px;
  width: 20px;
  height: 20px;
}
#back_icon{
  background-color: inherit;
  margin-top: 17px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  width:120px;
  float:left;
  font-size:32px;
  color: #C30239
}
#back_icon:hover{
  background-color: #e7e7e7
}
#app-title{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: auto;
  padding-top: 80px;
  font-size: 30px;
  font-weight: lighter;


}
#subtitle{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  font-style:italic;
  font-weight: lighter;
}

.button-purple{
  background-color: #4D2457;
  color: white;
  border: 3px solid #4D2457;
  width: 30%;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  border-radius:25px;
  margin-bottom: 8px;
}
.button-grey{
  background-color: WhiteSmoke;
  color: black;
  border: 3px solid #4D2457;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius:25px;
  margin-bottom: 8px;
}

.summary_buttons{
  display: flex;
  padding-top: 30px;

}
.videos-horizontal{
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}
.videos{
  height:300px;
  width:400px;
}
#pain_title{
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}
